.card {
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;

  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.avatar {
  border-radius: 32px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.defaultAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  width: 250px;
  height: 250px;
  background-color: gainsboro;
}

.avatarHead {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.avatarBody {
  width: 200px;
  height: 100px;
  border-radius: 50% 50% 24px 24px;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: #181818;
}

.email {
  font-size: 16px;
  color: gray;
}

.content {
  margin: 20px 28px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 28px 20px 28px;
}

.birth,
.phone {
  font-size: 14px;
  color: gray;
}

.button {
  outline: 0;
  background-color: #efefef;
  border: 1px solid rgba(183, 183, 183, 0.3);
  padding: 10.5px 22px;
  border-radius: 32px;
  font-weight: 500;
  cursor: pointer;
}
